<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/Content/easyui/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/styles/admin/admin.css" rel="stylesheet" />
    <script src="~/Content/js/common.js?v=1"></script>
    <script src="~/Content/jquery/jquery.js"></script>
    <script src="~/Content/easyui/jquery.easyui.min.js"></script>
    <script src="~/Content/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Content/easyui/easy.js"></script>
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()
</body>
</html>
