<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context type="Spring.Context.Support.XmlApplicationContext,Spring.Core">
      <resource uri="~/Configure/Bll.xml" />
    </context>
  </spring>
  <appSettings>
    <add key="CopyToServers" value="" />
    <add key="StockUrl" value="http://m.emoney.cn/MobileStockList.js" />
    <add key="SqlconnectionString" value="server=172.28.2.209;database=emweb_new;uid=ym_web;password=web20091021;Connection Reset=FALSE" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_INewsToHTML">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9025/ws/NewsToHTML" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INewsToHTML" contract="NewsServiceWs.INewsToHTML" name="NetTcpBinding_INewsToHTML" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="activity" connectionString="server=172.28.2.209;database=activity;uid=sa;password=EM0n1y.cn!;" />
    <add name="platform" connectionString="server=172.28.2.209;database=platform;uid=sa;password=emoney.cn;" />
    <add name="platform218" providerName="System.Data.SqlClient" connectionString="Data Source=172.28.2.218;Initial Catalog=platform;uid=MobileFeeUser;pwd=mobile20100121FeeUser" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
