<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="activity" connectionString="server=172.28.2.209;database=activity;uid=sa;password=EM0n1y.cn!;" />
    <add name="platform" connectionString="server=172.28.2.209;database=platform;uid=sa;password=emoney.cn;" />
    <add name="platform218" providerName="System.Data.SqlClient" connectionString="Data Source=172.28.2.218;Initial Catalog=platform;uid=MobileFeeUser;pwd=mobile20100121FeeUser" />
  </connectionStrings>
  <appSettings>
    <add key="StockUrl" value="http://m.emoney.cn/MobileStockList.js" />
    <add key="RedisServer" value="172.28.3.82" />
    <add key="Memcached" value="122.225.112.70:11211" />
  </appSettings>
  <spring>
    <context type="Spring.Context.Support.XmlApplicationContext,Spring.Core">
      <resource uri="~/Configure/Bll.xml" />
    </context>
  </spring>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="MyStockSynServiceMobSoap" />
          </basicHttpBinding>
          <customBinding>
            <binding name="MyStockSynServiceMobSoap12">
              <textMessageEncoding messageVersion="Soap12" />
              <httpTransport />
            </binding>
          </customBinding>
          <netTcpBinding>
            <binding name="NetTcpBinding_INewsToHTML">
              <security mode="None" />
            </binding>
            <binding name="NetTcpBinding_IFileServer">
              <security mode="None" />
            </binding>
          </netTcpBinding>
        </bindings>
        <client>
          <endpoint address="net.tcp://localhost:9025/ws/NewsToHTML" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INewsToHTML" contract="NewsWs.INewsToHTML" name="NetTcpBinding_INewsToHTML" />
          <endpoint address="http://cloudstock.emoney.cn/MyStockSynServiceMob.asmx" binding="basicHttpBinding" bindingConfiguration="MyStockSynServiceMobSoap" contract="ServiceReference1.MyStockSynServiceMobSoap" name="MyStockSynServiceMobSoap" />
          <endpoint address="net.tcp://localhost:9225/FileServer" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileServer" contract="FileServer.IFileServer" name="NetTcpBinding_IFileServer" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
