
@{
    ViewBag.Title = "功能介绍";
    Layout = "~/Views/Shared/_LayoutYwcx.cshtml";
}




    <a href="@Url.Content("~/html/gnjs_2_1.html")">
        <div class="main">
            <p class="p_1">迄今为止，最专业的移动证券软件</p>
            <p class="p_2">@ViewBag.quote </p>
            <p class="p_ts">
                <img src="../Css/def/images/gnjs.png" />
            </p>
            <p class="p_4">因股票操作而生。11积累上交所L2最大用户群，开创了投资工具智能化、服务化先河。</p>
            <p class="p_5"></p>
            <div class="div_6">

                <ul>
                    <li class="first">阅读全文</li>
                    <li>
                        <img src="../Css/def/images/gd.png" /></li>
                </ul>

            </div>
        </div>
    </a>
