<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" /> 
   
</head>
<body>
    <div class="bd">
        <div>
            <h5>OAuth2网页授权测试</h5>
        </div> 
        <div class="index_bottom"> 
        </div>
    </div>
</body>
</html>
