<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link href="@Url.Content("~/Css/def/style_new.css")"   rel="stylesheet" type="text/css" />
    <title>积分服务</title>
</head>
<body>
    <div class="main">
        <p class="p_1">积分服务</p>
        <p class="p_2">@ViewBag.quote </p>
        <p class="p_3">
            <img src="../Css/def/images/jf.png" />
        </p>
        <p class="p_4">积分查询和兑换</p>
        <p class="p_5"></p>
        <div class="div_6">
            <a href="@Url.Content("~/Ywcx/jfdh")">
                <ul>
                    <li class="first">阅读全文</li>
                    <li>
                        <img src="../Css/def/images/gd.png" /></li>
                </ul>
            </a>
        </div>
    </div>
</body>
</html>
