@{
    ViewBag.Title = "积分兑换";
    ViewBag.css = @Url.Content("~/Css/def/em.wx.css");
    Layout = "~/Views/Shared/_LayoutYwcx.cshtml";
}

<body>
    <div class="jffw_div">
        <img src="../Css/def/images/jifen.png" />
    </div>
    <div>
        @Html.Raw(@ViewBag.quote)
    </div>
</body>

