
@{
    ViewBag.Title = "密码查询";
    ViewBag.css = @Url.Content("~/Css/def/em.wx.css");
    Layout = "~/Views/Shared/_LayoutYwcx.cshtml";
}
<body>
    <div class="bd">

        <div class="mscx">
            <div style="margin-top: 5%; margin-left: 5%; width: 90%;">
                请点击“查询密码”或手动编辑短信“A”发送到10690990909，您的密码将立即发送，请收到后再次登录即可使用。
            </div>
            <br />
            <div class="p2">
                <a href="sms:106909990909" >
                    
                    查询密码

                </a>

            </div>
        </div>

        <br />

    </div>
    </body>