<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link href="@Url.Content("~/Css/def/style_new.css")"   rel="stylesheet" type="text/css" />
    <title>实战技巧</title>

</head>
<body>
    <a href="@Url.Content("~/html/szjq_1_1.html")">
        <div class="main">
            <p class="p_1">实战技巧:经典战法应对万变行情</p>
            <p class="p_2">@ViewBag.quote </p>
            <p class="p_ts">
                <img src="../Css/def/images/szjq.png" />
            </p>
            <p class="p_4">累计益盟研究团队多年炒股经验，而练就的经典战法，结合软件功能操作，简单易学，有效。</p>
            <p class="p_5"></p>
            <div class="div_6">

                <ul>
                    <li class="first">阅读全文</li>
                    <li>
                        <img src="../Css/def/images/gd.png" /></li>
                </ul>

            </div>
        </div>
    </a>
</body>
</html>
