@{
    ViewBag.Title = "推荐好友";
    ViewBag.css = @Url.Content("~/Css/def/style_new.css");
    Layout = "~/Views/Shared/_LayoutYwcx.cshtml";
}
<body>
    <div class="tjhy3">
        <p class="p1">
            感谢您的推荐！我们已经短信通知您的亲友，如您能亲自通知亲友，推荐成功率会更高哦！
        </p>
        <p class="p2">
            <a href="tjhy2">
                <img src="../../Css/def/images/tjgdhy.png" />
            </a>
        </p>

    </div>
</body>

