@{
    ViewBag.Title = "意见反馈";
    ViewBag.css = @Url.Content("~/Css/def/style_new.css");
    Layout = "~/Views/Shared/_LayoutYwcx.cshtml";
}
<body>
    <a href="@Url.Content("~/Ywcx/yjfk2")">
        <div class="main">
            <p class="p_1">意见反馈</p>
            <p class="p_2">@ViewBag.quote </p>
            <p class="p_ts">
                <img src="../Css/def/images/yjfk.png" />
            </p>
            <p class="p_4">
                点击进入填写意见反馈内容。
           
            </p>
            <p class="p_5"></p>
            <div class="div_6">

                <ul>
                    <li class="first">阅读全文</li>
                    <li>

                        <img src="../Css/def/images/gd.png" /></li>
                </ul>

            </div>
        </div>
    </a>
</body>

